:root {
  --ion-color-bt-google: #CC322C;
  --ion-color-bt-google-rgb: 204,50,44;
  --ion-color-bt-google-contrast: #ffffff;
  --ion-color-bt-google-contrast-rgb: 255,255,255;
  --ion-color-bt-google-shade: #b42c27;
  --ion-color-bt-google-tint: #d14741;
}

.ion-color-bt-google {
  --ion-color-base: var(--ion-color-bt-google);
  --ion-color-base-rgb: var(--ion-color-bt-google-rgb);
  --ion-color-contrast: var(--ion-color-bt-google-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bt-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-bt-google-shade);
  --ion-color-tint: var(--ion-color-bt-google-tint);
}